/.github/linters/ @HealthDataInsight/code-standards-team
.github/workflows/mega-linter.yml @HealthDataInsight/code-standards-team
.mega-linter.yml @HealthDataInsight/code-standards-team
.rubocop @HealthDataInsight/code-standards-team
